{% extends "cabinet/cabinet_layout.html.twig" %}

{% block title %}{{ "Dashboard title"|trans }}{% endblock %}

{% block content %}
    <div class="col-xl-12 col-lg-12 col-md-12">
        <!-- START card-->
        <div class="card col-12 align-items-center align-items-stretch border-0">

            <h4 class="mt-8">{{ "Track the departure"| trans }}</h4>

            {% if page_id is defined
                and
                page_id is not empty
                and
                page_id in ["post_find"] %}
            <div action="{{ path("post_find") }}" method="post">
                {% else %}
                <form action="{{ path("post_find") }}" method="post" target="_blank">
                    {% endif %}
                    <div class="form-group">
                        <div class="input-group with-focus ">
                            <input class="form-control border-right-0 search-track-input number_only" name="tracnum"
                                   value="{% if trNum is defined %} {{ trNum }}{% endif %}"
                                   required="required"
                            />
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-outline-success search-track-btn">{{ "Track down"|trans }}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-xl-4 col-md-4">
                <a href="{{ path("post_parcels_create") }}" class="card-link-wrap">
                    <div class="card flex-row align-items-center align-items-stretch border-0">
                        <div class="col-4 d-flex align-items-center bg-primary-dark justify-content-center rounded-left"><em class="fa-2x mr-2 fas fa-box-open"></em></div>
                        <div class="col-8 py-3 bg-primary rounded-right">
                            <div class="h2 mt-0">{{ "Add"|trans}}</div>
                            <div class="text-uppercase">{{ "Percles"|trans}}</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xl-4 col-md-4">
                <a href="{{ path("post_pay_index_page") }}" class="card-link-wrap">
                    <div class="card flex-row align-items-center align-items-stretch border-0">
                        <div class="col-4 d-flex align-items-center bg-primary-dark justify-content-center rounded-left"><em class="fa-4x mr-2 fas fa-dollar-sign"></em></div>
                        <div class="col-8 py-3 bg-primary rounded-right">
                            <div class="h2 mt-0">{{ "Balance"|trans}}</div>
                            <div class="text-uppercase">{{ user.balance }}</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xl-4 col-md-4">
                <a href="{{ path('parcles_support') }}" class="card-link-wrap">
                    <div class="card flex-row align-items-center align-items-stretch border-0">
                    <div class="col-4 d-flex align-items-center bg-purple-dark justify-content-center rounded-left"><em class="icon-bubbles fa-3x"></em></div>

                    <div class="col-8 py-3 bg-purple rounded-right">
                            <div class="h2 mt-0">{{ "Send_d"|trans}}</div>
                        <div class="text-uppercase">{{ "Support"|trans}}</div>
                    </div>
                    </div>
                </a>
            </div>


    </div>

    <div class="col-sm-6">

        <h4>{{ user.firstName }} {{ user.lastName }}</h4>

        {% if my_address is not empty  and my_address is not empty %}
            <address>
                {% if my_address.address is defined and my_address.address is not null %}
                    {{ my_address.address }} <br>
                {% endif %}
                {% if my_address.city is defined and my_address.city is not null %}
                    {{ my_address.city }} <br>
                {% endif %}
                {% if my_address.country is defined and my_address.country is not null %}
                    {{ my_address.country }} <br>
                {% endif %}
                {% if my_address.zip is defined and my_address.zip is not null %}
                    {{ my_address.zip }}
                {% endif %}
            </address>
        {% endif %}

    </div>
{#    <div class="col-sm-6">

        <h4>{{ "Track the departure"| trans }}</h4>
        
        {% if page_id is defined
            and
            page_id is not empty
            and
            page_id in ["post_find"] %}
        <div action="{{ path("post_find") }}" method="post">
            {% else %}
            <form action="{{ path("post_find") }}" method="post" target="_blank">
                {% endif %}
                <div class="form-group">
                    <div class="input-group with-focus ">
                        <input class="form-control border-right-0" name="tracnum"
                               value="{% if trNum is defined %} {{ trNum }}{% endif %}"
                               required="required"
                        />
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-success">{{ "Track down"|trans }}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
#}
</div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card card-default">
                <div class="card-header">
                    <div class="float-left badge badge-success">{{ "New Orders"|trans }}</div>
                </div>
                <div class="card-body">
                    <!-- START table-responsive-->
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr class="text-center">
                                <th>{{ "TN"| trans }}</th>
                                <th>{{ "shipgCost" | trans }}</th>
                                <th>{{ "declareValue" | trans }}</th>
                                <th>{{ "Adress" | trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if ordersNew is not empty %}
                                {% for order in ordersNew %}
                                    <tr class="text-center">
                                        <td class="fixered-column">
                                            {{ order.trackingNumber }}
                                        </td>
                                        <td>{{ order.shippingCosts }}</td>
                                        <td>{{ order.declareValue }}</td>
                                        {% if  order.addresses.fullAddress is defined %}
                                        <td>{{  order.addresses.fullAddress }}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr class="text-center">
                                    <td>{{ "No order" | trans }}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div><!-- END table-responsive-->
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <!-- START card-->
            <div class="card card-default">
                <div class="card-header">
                    <div class="float-left badge badge-success">{{ "Sent Orders"|trans }}</div>
                </div>
                <div class="card-body">
                    <!-- START table-responsive-->
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr class="text-center">
                                <th>{{ "TN"| trans }}</th>
                                <th>{{ "Adress" | trans }}</th>
                                <th>{{ "Status" | trans }}</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% if ordersSend %}
                                {% for order in ordersSend %}
                                    <tr class="text-center">
                                        <td>
                                            <a href="{{ url("post_find",{"tracnum":order.trNum}) }}" target="_blank">
                                                {{ order.trNum }}
                                            </a>
                                        </td>
                                        <td>{{ order.addresses.fullAddress }}</td>
                                        <td>{{ order.orderStatus.status | trans }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr class="text-center">
                                    <td>{{ "No order" | trans }}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div><!-- END table-responsive-->
                </div>
            </div><!-- END card-->
        </div>
        <div class="col-xl-6">
            <!-- START card-->
            <div class="card card-default">
                <div class="card-header">
                    <div class="float-left badge badge-success">{{ "Late Payments"|trans }}</div>
                </div>
                <div class="card-body">
                    <!-- START table-responsive-->
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr class="text-center">
                                <th>{{ 'Nomer scheta'| trans }}</th>
                                <th>{{ 'Sposob oplaty'| trans }}</th>
                                <th>{{ 'Sum'| trans }}</th>
                                <th>{{ 'Status'| trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if payment %}
                                {% for item in payment %}
                                    <tr class="text-center">
                                        <td>{{ item.number }}</td>
                                        <td>{{ "Card"|trans }}</td>
                                        <td>{{ item.sum }}</td>
                                        <td>{{ item.status | trans }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr class="text-center">
                                    <td>{{ "Not pay yet" | trans }}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div><!-- END table-responsive-->
                </div>
            </div><!-- END card-->
        </div>
{# Баланс пользователя #}
        <div class="col-xl-6">
            <!-- START card-->
            <div class="card card-default">
                <div class="card-header">
                    <div class="float-left badge badge-success">{{ "User Balance"|trans }}</div>
                </div>
                <div class="card-body">
                    <!-- START table-responsive-->
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr class="text-center">
                                <th>{{ 'Date'| trans }}</th>
                                <th>{{ 'Sum'| trans }}</th>
                                {#<th>{{ 'Type'| trans }}</th>#}
                                <th>{{ 'Text'| trans }}</th>
                                <th>{{ 'User Balance'| trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if balances %}
                                {% for item in balances %}
                                    <tr class="text-center">
                                        <td>{{ item.createAtStr }}</td>
                                        <td>{{ item.showBalance }}</td>
                                        <td>{{ item.text | trans }}</td>
                                        <td>{{ item.userBalance }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr class="text-center">
                                    <td>{{ "No order" | trans }}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div><!-- END table-responsive-->
                </div>
            </div><!-- END card-->
        </div>
    </div>
{% endblock %}
 {% block javascripts %}{% endblock %}
