{% extends "base_operation.html.twig" %}

{% block title %}{{"Email verify"|trans }}{% endblock %}

{% block content %}
    <p class="text-center py-2">{{"email.verify.text"|trans}}</p>

    <a href="{{ path('user_logout') }}" class="btn btn-light col-md-6">{{ 'Logout' | trans }}</a>
{% endblock %}