{% extends "cabinet/cabinet_layout.html.twig" %}

    {% set title= "Order Edit" %}
    {% if page_title is defined and page_title is not empty %}
        {% set title=page_title %}
    {% endif %}

{% block title %}{{title|trans }}{% endblock %}


{% block content %}

        <div class="col-12 col-xl-12">
            <div class="card card-default">
                <div class="card-header">
                    <div class="card-title">{{title|trans }}</div>
                </div>
                <div class="card-body">
                    {%
                        form_theme form
                        "system/product-order-theme.html.twig"
                        "system/jquery.collection.html.twig"
                    %}
                    {{  form_errors(form) }}

                    {{ form_start(form, {"method": "POST", "attr": {"id": "orderForm","class":"mb-3"}}) }}
                        {#<div class="row">#}
                            {#<div class="col-md-6">#}
                                {#<div class="form-group">#}

                                        {#{{ form_label(form.orderType,"OrderType"|trans , {#}
                                            {#"label_attr": {"class": "text-muted"}#}
                                        {#}) }}#}

                                        {#{{ form_widget(form.orderType) }}#}




                                {#</div>#}
                            {#</div>#}
                        {#</div>#}

                        {#<div class="row">#}
                            {#<div class="col-md-6">#}
                                {#<div class="form-group">#}

                                    {#{{ form_label(form.trackingNumber,"trackingNumber"|trans , {#}
                                        {#"label_attr": {"class": "text-muted"}#}
                                    {#}) }}#}
{##}
                                    {#<label class="text-muted required" for="order_form_orderType">#}
                                        {#<span>{{ "trackingNumber"|trans }}</span>{{ formhelpsservice.getTextByCode('trackingNumber') | raw }}#}
                                    {#</label>#}
                                    {##}
                                    {#<div class="input-group with-focus ">#}
                                        {#{% if form.trackingNumber.vars.errors|length %}#}
                                            {#{{ form_widget(form.trackingNumber, {"attr": {"class": "is-invalid form-control border-right-0"}}) }}#}
                                        {#{% else %}#}
                                            {#{{ form_widget(form.trackingNumber) }}#}
                                        {#{% endif %}#}
                                        {#<div class="input-group-append">#}
                                 {#<span class="input-group-text text-muted bg-transparent border-left-0">#}
                                     {#<em class="fa fa-user"></em>#}
                                 {#</span>#}
                                        {#</div>#}
                                        {#<div class="invalid-feedback">{{ form_errors(form.trackingNumber) }}</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            <div class="col-md-6">
{#                                <div class="form-group">#}
{#                                    {{ form_label(form.shipDate,"shipDate"|trans, {#}
{#                                        "label_attr": {"class": "text-muted"}#}
{#                                    }) }}#}
{#                                    <div class="input-group with-focus ">#}
{#                                        {% if form.shipDate.vars.errors|length %}#}
{#                                            {{ form_widget(form.shipDate, {"attr": {"class": "is-invalid form-control border-right-0"}}) }}#}
{#                                        {% else %}#}
{#                                            {{ form_widget(form.shipDate) }}#}
{#                                        {% endif %}#}
{#                                        <div class="input-group-append input-group-addon">#}
{#                                 <span class="input-group-text text-muted bg-transparent border-left-0">#}
{#                                     <em class="fa fa-user"></em>#}
{#    #}
{#                                 </span>#}
{#                                        </div>#}
{#                                        <div class="invalid-feedback">{{ form_errors(form.shipDate) }}</div>#}
{#                                    </div>#}
{#                                </div>#}
                            </div>
                        {#</div>#}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form_label(form.products,"Content"|trans, {
                                        "label_attr": {"class": "text-muted"}
                                    }) }}
                                    <div class="with-focus">
                                        {{ form_widget(form.products) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    {{ form_label(form.addresses,"Address"|trans, {
                                        "label_attr": {"class": "text-muted"}
                                    }) }}
                                    <div class="input-group with-focus ">
                                        {% if form.addresses.vars.errors|length %}
                                            {{ form_widget(form.addresses, {"attr": {"class": "is-invalid custom-select custom-select-mb"}}) }}
                                        {% else %}
                                            {{ form_widget(form.addresses) }}
                                        {% endif %}
                                        <div class="input-group-append">
                                            <a  id="addAddress" href="#" asss="{{ path("post_address_create") }}" {#target="_blank"#} class="btn btn-outline-info btn-sm">{{ "Add Address" | trans }}
                                            </a>
                                        </div>
                                        <div class="invalid-feedback">{{ form_errors(form.addresses) }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="checkbox" id="calculate" {% if calculate is defined and calculate %} checked="true"{% endif %}/ > {{ "Calculate"|trans }}
                            </div>
                        </div>
                    </div>
                        <div class="row calculate-block" {% if calculate is not defined or calculate ==false %} style="display: none"{% endif %}>
                            <div class="col-md-12">
                                <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    {{ form_label(form.sendDetailWeight,"sendDetailWeight"|trans, {
                                        "label_attr": {"class": "text-muted"}
                                    }) }}
                                    <div class="input-group with-focus ">
                                        {% if form.sendDetailWeight.vars.errors|length %}
                                            {{ form_widget(form.sendDetailWeight, {"attr": {"class": "is-invalid form-control"}}) }}
                                        {% else %}
                                            {{ form_widget(form.sendDetailWeight) }}
                                        {% endif %}
                                        <div class="invalid-feedback">{{ form_errors(form.sendDetailWeight) }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    {{ form_label(form.sendDetailLength,"sendDetailLength"|trans, {
                                        "label_attr": {"class": "text-muted"}
                                    }) }}
                                    <div class="input-group with-focus ">
                                        {% if form.sendDetailLength.vars.errors|length %}
                                            {{ form_widget(form.sendDetailLength, {"attr": {"class": "is-invalid form-control"}}) }}
                                        {% else %}
                                            {{ form_widget(form.sendDetailLength) }}
                                        {% endif %}
                                        <div class="invalid-feedback">{{ form_errors(form.sendDetailLength) }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    {{ form_label(form.sendDetailWidth,"sendDetailWidth"|trans, {
                                        "label_attr": {"class": "text-muted"}
                                    }) }}
                                    <div class="input-group with-focus ">
                                        {% if form.sendDetailWidth.vars.errors|length %}
                                            {{ form_widget(form.sendDetailWidth, {"attr": {"class": "is-invalid form-control"}}) }}
                                        {% else %}
                                            {{ form_widget(form.sendDetailWidth) }}
                                        {% endif %}
                                        <div class="invalid-feedback">{{ form_errors(form.sendDetailWidth) }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    {{ form_label(form.sendDetailHeight,"sendDetailHeight"|trans, {
                                        "label_attr": {"class": "text-muted"}
                                    }) }}
                                    <div class="input-group with-focus ">
                                        {% if form.sendDetailHeight.vars.errors|length %}
                                            {{ form_widget(form.sendDetailHeight, {"attr": {"class": "is-invalid form-control"}}) }}
                                        {% else %}
                                            {{ form_widget(form.sendDetailHeight) }}
                                        {% endif %}
                                        <div class="invalid-feedback">{{ form_errors(form.sendDetailHeight) }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    {{ form_label(form.volumeWeigth,"volumeWeigth"|trans, {
                                        "label_attr": {"class": "text-muted"}
                                    }) }}
                                    <div class="input-group with-focus ">
                                        {% if form.volumeWeigth.vars.errors|length %}
                                        {{ form_widget(form.volumeWeigth, {"attr": {"class": "is-invalid form-control"}}) }}
                                        {% else %}
                                        {{ form_widget(form.volumeWeigth) }}
                                        {% endif %}
                                        <div class="invalid-feedback">{{ form_errors(form.volumeWeigth) }}</div>
                                    </div>
                                </div>
                            </div>
                                </div>
                            </div>
                        </div>
                    <div class="row calculate-block" {% if calculate is not defined or calculate ==false %} style="display: none"{% endif %}>
                                <div class="col-md-2">
                                    <button type="button" class="btn-success btn" id="calculate-button">{{ "Calcuate button"| trans }}</button>
                                </div>
                                <div class="col-md-8 calculation-result" {% if calculate is not defined or calculate ==false %} style="display: none"{% endif %}>
                                    <div class="form-group">
                                        <p>{{ "Please select delivery method:" | trans }}</p>
                                        <div>
                                            <div>
                                            <input type="radio" id="econom_element"
                                                    {% if deliveryType is defined and not deliveryType is empty and  deliveryType== "econom" %} checked {% endif %}
                                                   name="deliveryType" value="econom">
                                            <label for="econom_element">{{ "delivery.econom" | trans }}<span id="econom_price">{% if economPrice is not defined or economPrice > 0 %} ${{ economPrice }}{% endif %}</span></label>
                                            </div>
                                            <div>
                                                <input type="radio" id="express_element"
                                                        {% if deliveryType is defined and not deliveryType is empty and  deliveryType== "express" %} checked {% endif %}
                                                   name="deliveryType" value="express">
                                            <label for="express_element">{{ "delivery.express" | trans }}<span id="express_price">{% if expressPrice is not defined or expressPrice > 0 %} ${{ expressPrice }}{% endif %}</span></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        {#<div class="row">#}
                            {#<div class="col-md-4">#}
                                {#<div class="form-group">#}
                                    {#{{ form_label(form.shippingCosts,"shippingCosts"|trans, {#}
                                        {#"label_attr": {"class": "text-muted"}#}
                                    {#}) }}#}
                                    {#<div class="input-group with-focus ">#}
                                        {#{% if form.shippingCosts.vars.errors|length %}#}
                                            {#{{ form_widget(form.shippingCosts, {"attr": {"class": "is-invalid form-control"}}) }}#}
                                        {#{% else %}#}
                                            {#{{ form_widget(form.shippingCosts) }}#}
                                        {#{% endif %}#}
                                        {#<div class="invalid-feedback">{{ form_errors(form.shippingCosts) }}</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}

                            {#<div class="col-md-4">#}
                                {#<div class="form-group">#}
                                    {#{{ form_label(form.declareValue,"declareValue"|trans, {#}
                                        {#"label_attr": {"class": "text-muted"}#}
                                    {#}) }}#}
                                    {#<div class="input-group with-focus ">#}
                                        {#{% if form.declareValue.vars.errors|length %}#}
                                            {#{{ form_widget(form.declareValue, {"attr": {"class": "is-invalid form-control"}}) }}#}
                                        {#{% else %}#}
                                            {#{{ form_widget(form.declareValue) }}#}
                                        {#{% endif %}#}
                                        {#<div class="invalid-feedback">{{ form_errors(form.declareValue) }}</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                              <input type="checkbox" id="coupon_checkgox" {% if useCoupon is defined and useCoupon %} checked="true"{% endif %} > {{ "Add Coupon"|trans }} {{ formhelpsservice.getTextByCode('coupon_checkgox') | raw }}</input>
                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group coupon-group " {% if useCoupon is not defined or useCoupon ==false %} style="display: none"{% endif %}>

                                    {{ form_label(form.Coupon,"Coupon"|trans, {
                                        "label_attr": {"class": "text-muted"}
                                    }) }}
                                    <div class="input-group with-focus ">
                                        {% if form.Coupon.vars.errors|length %}
                                            {{ form_widget(form.Coupon, {"attr": {"class": "is-invalid form-control"}}) }}
                                        {% else %}
                                            {{ form_widget(form.Coupon) }}
                                        {% endif %}

                                        <div class="invalid-feedback">{{ form_errors(form.comment) }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form_label(form.comment,"comment"|trans, {
                                        "label_attr": {"class": "text-muted"}
                                    }) }}
                                    <div class="input-group with-focus ">
                                        {% if form.comment.vars.errors|length %}
                                            {{ form_widget(form.comment, {"attr": {"class": "is-invalid form-control"}}) }}
                                        {% else %}
                                            {{ form_widget(form.comment) }}
                                        {% endif %}

                                        <div class="invalid-feedback">{{ form_errors(form.comment) }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                 <div class="offset-4 col-md-2">
                                       {{ form_widget(form.save, {"attr": {"class": "btn btn-block btn-outline-primary mt-3 mx-auto d-block"},"label": "Save"|trans})  }}
                                </div>
                                <div class="col-md-2">
                                    <a href="{{ path("post_parcels") }}" class="btn btn-outline-secondary btn-block mt-3"> {{ "Cancel" | trans }}</a>
                                </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
{% endblock %}
 {% block modal %}
     {# Modal add address #}
     <div class="modal fade" id="addAddressForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog  modal-lg modal-dialog-centered" role="document">
             <div class="modal-content">
                 <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLabel">{{ "Data about the address delivery"|trans }}</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
                 </div>
                 <div class="modal-body">
                     <div class="d-flex justify-content-center">
                         <div class="spinner-border" role="status">
                             <span class="sr-only">{{ "Loading..." | trans }}</span>
                         </div>
                     </div>
                 </div>
                 <div class="modal-footer">
                     <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{{ "Close" | trans }}</button>
                     <button type="button" id="saveaddress" class="btn btn-outline-primary">{{ "Save changes" | trans }}</button>
                 </div>
             </div>
         </div>
     </div>
     <div class="preloaderR"  ><img  src="{{ asset("img/ring.svg") }}"></div>
 {% endblock %}



 {% block javascripts %}
     <script src="{{ asset("sklad-express/js/jquery.collection.js") }}"></script>
<script>
     jQuery(".datepicker").datepicker({
        uiLibrary: "bootstrap4",
        autoclose: true,
        language: 'ru'
     });




    $(".product-list").collection({
        "allow_up": false,
        "allow_down": false,
        "add": "<a href='#' class='btn btn-outline-success btn-add-products'>{{ "Add product" | trans }}</a>",
        "add_at_the_end": true
     });

     $(document).ready(function(){
         $('body').on('click','#addAddress',function(){

             $('#addAddressForm .modal-body').html('<div class="d-flex justify-content-center">' +
                 '<div class="spinner-border" role="status">'+
                 '<span class="sr-only">{{ "Loading..." | trans }}</span>'+
                 '</div></div>');

             $('#addAddressForm .modal-body').load('{{ path("ajax_post_address_create") }}',function(result){
                 $('#addAddressForm').modal({show:true});
                 $('form').on('keyup','#address_form_ajax_city'
                     + ',#address_form_ajax_street'
                     // + ',#address_form_ajax_house'
                     + ',#address_form_ajax_regionOblast'
                     + ',#address_form_ajax_zip'
                     // + ',#address_form_ajax_apartment'
                     + ',#address_form_ajax_userFirstName'
                     + ',#address_form_ajax_userLastName'
                     + ',#address_form_ajax_phone'
                     + ',#address_form_ajax_aliasOfAddress'

                     ,function () {
                         var pattern = new RegExp('^([a-zA-Z0-9+\\.\\,\\-\\@,\\s]+)$'),
                             el =$(this).closest('.form-group');

                         if(!pattern.test( $(this).val())){
                             if(!el.find('span.text-danger')[0]){
                                 el.append('<span class="message_error text-danger">{{ "Write latin only" | trans }}</span>');
                             }
                             $("button#saveaddress").addClass('disabled').attr({"disabled":true}).css({"cursor":"not-allowed"});
                         }else {
                             el.find('span.text-danger').remove();
                             if(!$('body').find('span.text-danger')[0]){
                                 $("button#saveaddress").removeClass('disabled').attr({"disabled":false}).css({"cursor":"pointer"});
                             }

                         }
                     });
             });
             $('#addAddressForm').modal({show:true});
             console.log($('#addAddressForm .modal-body'));return false;


         });

         $('body').on('click','#saveaddress',function(){
             var senddata=$("#addressForm").serialize();
             $.ajax({
                 url: '{{ path("ajax_post_address_create") }}',
                 type: 'POST',
                 data: senddata,
                 success: function(mess) {
                     if (mess && typeof mess === "object") {
                         console.log(mess);
                         $('option', $("#order_form_addresses")).remove();
                         $.each(mess, function(key, value) {
                             console.log(value);
                             $('#order_form_addresses').append('<option value="' + key + '">' + value + '</option>');
                         });
                         $('#order_form_addresses').prop('selected', true);
                         $('#addAddressForm').modal('hide');
                     }
                    else{
                         $('#addAddressForm .modal-body').html(mess);
                     }

                     //$('#myModal').modal('hide');
                 },
                 error:function(mess) {
                     console.log(mess);
                 }
             })
         });

         $('body').on('click','#calculate-button',function(){
             var senddata=$("form[name=order_form]").serialize();
             $.ajax({
                 url: '{{ path("ajax_post_calculate") }}',
                 type: 'POST',
                 data: senddata,
                 success: function(mess) {
                  console.log(mess);
                     if (mess && typeof mess === "object") {
                         $(".calculation-result").show();
                        if (window.isset(mess.econom.shippingCost) && mess.econom.shippingCost>0){
                            $("#econom_price").html(" $"+mess.econom.shippingCost);
                        }
                         if (window.isset(mess.express.shippingCost) && mess.express.shippingCost>0){
                             $("#express_price").html(" $"+mess.express.shippingCost);
                         }
                         $(".calculated_data").val(JSON.stringify(mess));

                     }
                    else{

                     }

                     //$('#myModal').modal('hide');
                 },
                 error:function(mess) {
                     console.log(mess);
                 }
             })
         });



         {#
         $("#save").click(function(){
             $.ajax({
                 url: '{{ path{"ajax_post_address_create"} }}',
                 type: 'POST',
                 success: function(res) {
                     $('#myModal').modal('hide');
                 },
                 error: function(error) {
                     $('#myModal').modal('hide');
                     console.log(error);
                 }
             })
         });
         #}
         // var keyUpTimeOut;
         // $('#order_form_sendDetailWeight').on('keyup', function () {
         //     clearTimeout(keyUpTimeOut);
         //     keyUpTimeOut = setTimeout(function () {
         //         console.log('sdfaf!!!!!!!!!!');
         //         $('.preloaderR').fadeIn(300);
         //     }, 1000);
         // });

         $('#order_form_orderType , #order_form_addresses').change(function () {
                MaxPriceAndWeight();
             check();
         });
         $('#coupon_checkgox').on('click',function (e) {
             check();
         });
         $('#order_form_orderType').trigger('change');

         $('form').on('keyup',
             "[data-name=\'pricegrn\']"+
             ",[data-name=\'count\']"+
             ",#order_form_addresses" +
             ",#order_form_Coupon"
             ,function () {
                 var $this = $(this);
                 var delay = 250;

                 clearTimeout($this.data('timer'));
                 //$('span').text('Загрузка...');

                 $this.data('timer', setTimeout(function(){

                     $this.removeData('timer');

                     check();

                 }, delay));
             });
         var keyUpTimeOut;

         window.cource = 1;
         function getCourse() {
             $.ajax({
                 url: '{{ path("ajax-get-cource-uah") }}',
                 type: 'get',
                 // dataType:'json',
                 //async: false,
                 beforeSend: function () {
                 },
                 success: function (res) {
                     console.log(res);
                     window.cource = res;
                     return true;
                 },
                 error: function (xhr, ajaxOptions, thrownError) {
                 }
             });
         }
         getCourse();
         function check() {
             var resReturn=0,
                 volume=0,
                 cupon='';

             console.log('cupon = '+cupon);


             let priceVal=0;
             $( "[data-name=\'pricegrn\']" ).each(function( index ) {
                 console.log(this);
                 let thisElId = $(this).attr("id");
                 console.log(thisElId);
                 let blockId = thisElId.replace('_priceGrn','');
                 let pPrice=parseFloat($(this).val());
                 console.log(blockId);
                 pPrice =  window.isset(pPrice) ? pPrice : 0;
                 let priceInDollar = Math.ceil(pPrice*window.cource*100)/100;
                 $('#'+blockId+'_price').val(priceInDollar);
                 let pCount=parseFloat($('#'+blockId+'_count').val());
                 pCount =  window.isset(pCount) ? pCount : 0;

                 $('#'+blockId+'_totalSumm').val(pCount*priceInDollar);
                 // console.log( index + ": " + pPrice + "="+pCount );
             });

         };

         function checkOld() {
                 var resReturn=0,
                     volume=0,
                     price = $('#order_form_shippingCosts').val(),
                     status = $('#order_form_orderType option:selected').val(),
                     weight=($('#order_form_sendDetailWeight').val())?$('#order_form_sendDetailWeight').val():'0',
                     s1=($('#order_form_sendDetailWidth').val())?$('#order_form_sendDetailWidth').val():'0',
                     s2=($('#order_form_sendDetailHeight').val())?$('#order_form_sendDetailHeight').val():'0',
                     s3=($('#order_form_sendDetailLength').val())?$('#order_form_sendDetailLength').val():'0',
                     cupon='';
                 if($('#coupon_checkgox').prop('checked'))
                 {
                     //check cupon

                     var element = $('#order_form_Coupon'),
                         lengthCode = element.val().length,
                         ru = "Код купона состоить из 12 символов у  вас " + lengthCode,
                         ukr = "Код купона складається з 12 символів у вас " + lengthCode,
                         code = element.val(),
                         Weight = $('#order_form_sendDetailWeight').val(),
                         DeliveryType = $('#order_form_orderType>option:selected').val(),
                         DHLPrice = '';
                     el = element.closest('.form-group').find('.input-group');

                     if (lengthCode != 12) {
                         console.log('lengthCode cupon error != 12');
                         spanCuponMessage(ukr, ru, el, 'text-danger')
                     }else{
                         cupon = element.val();
                     }
                     ;

                 }
             console.log('cupon = '+cupon);

                 volume= (s1*s2*s3/5).toFixed(0);
                 var resW=(Number(weight)>Number(volume))?weight:volume,
                        Vip = $('#order_form_userVip').val();
                    if(
                        (weight == 0) ||
                        (s1==0) ||
                        (s2==0) ||

                        (s3==0) ){

                        console.log(s1);
                        console.log(s2);
                        console.log(s3);
                        console.log('err!');
                        return false;
                    }

             if(!status){
                 console.log(!status);
                 var message = "Для розрахунку вартості оберить тип доставки \"Тип доставки\" ";
                 console.log(message);
                 if($('button[data-id=select_language]').attr('title')[0] == 'Р'){
                     message ="Для расчета стоимости выберите  \"Тип доставки\"";
                 }
                     $('#order_form_shippingCosts').val(message);
                     console.log(message);

                 return false;
             }
           // var  vip = $('#order_form_userVip').val(),
           //       max_weight = (vip == 1)?$('#order_form_maxWeightEconomVip').val():$('#order_form_maxWeightEconom').val();
           //   if($('#order_form_sendDetailWeight').val()>max_weight && $('#order_form_orderType option:selected').val() == 1){
           //       $('#order_form_sendDetailWeight').val(max_weight);
           //   }
             var  vip = $('#order_form_userVip').val(),
                 max_weight = parseInt($('form[name=order_form]').attr('MaxWeight'));
             console.log('maxweight '+$('form[maxweight]')[0]);

             var  el =$('#order_form_sendDetailWeight').closest('.form-group');
             var  elVolume =$('#order_form_volumeWeigth').closest('.form-group');

             el.find('.message_error').remove();
             elVolume.find('.message_error').remove();

             $('input').removeClass('is-invalid');
             $('.invalid-feedback').remove();


             $('#order_form_volumeWeigth').val(volume);
             if(parseInt($('#order_form_sendDetailWeight').val()) > max_weight && $('#order_form_orderType option:selected').val() != 2){
                 var massege_1="Максимальный вес "+max_weight+"г.";
                 if($('button[data-id=select_language]').attr('title')[0] == 'У'){
                     massege_1 ="Максимальна вага "+max_weight+"г.";
                 }

                 el.append('<span class="message_error text-danger">'+massege_1+'</span>');
                 $('#order_form_sendDetailWeight').val(max_weight);
                 weight=max_weight;
                 console.log(vip);
                 console.log(parseInt(vip));
                 var price = parseInt(vip)?$('form[name=order_form]').attr('MaxVipPrice'):$('form[name=order_form]').attr('MaxPrice');
                 console.log(parseInt(price));
               //  $('#order_form_shippingCosts').val(price);
                // return false;
             }else if(volume > max_weight && $('#order_form_orderType option:selected').val() != 2){

                 elVolume.find('.message_error').remove();

                 var massege_1="Превышен лимит допустимого веса "+max_weight+"г.";
                 if($('button[data-id=select_language]').attr('title')[0] == 'У'){
                     massege_1 ="Перевищена вага "+max_weight+"г.";
                 }

                 elVolume.append('<span class="message_error text-danger">'+massege_1+'</span>');
                 //$('#order_form_volumeWeigth').val('-');

                 //console.log(vip);
                 //console.log(parseInt(vip));
                 //var price = parseInt(vip)?$('form[name=order_form]').attr('MaxVipPrice'):$('form[name=order_form]').attr('MaxPrice');
                 //console.log(parseInt(price));
                  $('#order_form_shippingCosts').val('-');
                 $('span.cuponmess').remove();
                  return false;
             }


             let priceVal=0;
             $( "[data-name=\'price\']" ).each(function( index ) {

                 let pPrice=parseFloat($('#order_form_products_'+index+'_price').val());
                 let pCount=parseFloat($('#order_form_products_'+index+'_count').val());

                 priceVal=priceVal+pPrice*pCount;
               // console.log( index + ": " + pPrice + "="+pCount );
             });

                     $('#order_form_declareValue').val(parseFloat(priceVal).toFixed(2));

                     var Express = 0;
                     if($('#order_form_orderType option:selected').val() == 2) {
                         Express = 1;
                     }
                     var deliveryType=$('#order_form_orderType option:selected').val();

                        $.ajax({
                            url: '{{ path("dhl_price") }}',
                            type: 'get',
                            // dataType:'json',
                            data: {
                                'id_adress': $('#order_form_addresses option:selected', '').val(),
                                'Height': s2,
                                'Length': s3,
                                'Width': s1,
                                'Weight': weight,
                                'Express': Express,
                                'Vip': Vip,
                                'deliveryType':deliveryType,
                                'cupon':cupon
                            },
                            //async: false,
                            beforeSend: function () {
                                if(Express){
                                $('.preloaderR').fadeIn(300);}
                            },
                            success: function (res) {
                                console.log(res);
                                if(Express){
                                $('.preloaderR').fadeOut('slow');}

                                el = $('#order_form_shippingCosts').closest('.form-group');
                                if (res.price == false) {
                                    $('#order_form_shippingCosts').val('-');

                                    if(!el.find('span.text-danger')[0]){

                                        el.append('<span class="message_error text-danger">{{ "Insufficient data for calculation" | trans }}</span>');
                                    }else{
                                        el.find('.text-danger').text('{{ "Insufficient data for calculation" | trans }}');
                                    }

                                    return true;
                                }
                                $('#order_form_shippingCosts').val(res.price).change();
                                el.find('span.text-danger').remove();

                                if (res.cupon && !res.cupon.empty){
                                    var data = res.cupon,
                                        ru = "Цена доставки с использованиям купона составит: " + res.price + ".  Возможное количество использований: " + data.quantity + " ",
                                        ukr = "Ціна доставки з використанням купона складе: " + res.price + ".  Можлива кількість використань: " + data.quantity + " ",
                                        cl = 'text-green'
                                    ;

                                    if (data.error) {
                                        ru = "Код купона не действителен";
                                        ukr = "Код купона недійсний";
                                        cl = 'text-danger';
                                    }
                                    if (data.quantity == 0) {
                                        ru = "Данный промокод уже использован";
                                        ukr = "Даний промокод уже використаний";
                                        cl = 'text-danger';
                                    }
                                    elCupon = element.closest('.form-group').find('.input-group');
                                    spanCuponMessage(ukr, ru, elCupon, cl)
                                }
                                return true;
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                if(Express){
                                    $('.preloaderR').fadeOut('slow');}
                                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                $('#order_form_shippingCosts').val('-');

                            }
                        });



             };


         function spanCuponMessage(ukr,ru,el,cl) {
             var message =ru;
             if($('button[data-id=select_language]').attr('title')[0] == 'У'){
                 message =ukr;
             }
             var blockEl=el.closest('.form-group')
             if(!blockEl.find('span.text-green')[0] && !blockEl.find('span.text-danger')[0] && !blockEl.find('span.text-warning')[0]){
                 //el.append('<span class="'+cl+'">'+message +'</span>');
                 el.after('<span class=" cuponmess '+cl+'">'+message +'</span>');
                 //$('<span class="'+cl+'">'+message +'</span>').appendTo(el);
             }else{
                 blockEl.find('span.cuponmess').text(message).attr({'class':"cuponmess "+cl});
             }

         }

         function MaxPriceAndWeight() {
             $.ajax({
                 url: '/post/parcels/ajax/max/price',
                 type: 'get',
                 async: false,
                 // dataType:'json',
                 data: {
                     typeDelivery:$('#order_form_orderType option:selected').val(),},
                 beforeSend: function () {
                   $('.preloaderR').fadeIn(100);
                 },
                 success: function (res) {
                     $('.preloaderR').fadeOut('slow');
                     console.log(res);
                     $('form[name=order_form]').attr({'MaxPrice':res.MaxPrice});
                     $('form[name=order_form]').attr({'MaxVipPrice':res.MaxVipPrice});
                     $('form[name=order_form]').attr({'MaxWeight':res.MaxWeight});

                 },
             });
         }




     });


</script>

 {% endblock %}
