{% extends "cabinet/cabinet_layout.html.twig" %}

{% block title %}{{page_title|trans }}{% endblock %}

{% block content %}


<div class="col-xl-4  col-md-12">
    <a href="{{ path("post_parcels_create") }}" class="card-link-wrap">
        <div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-primary-dark justify-content-center rounded-left"><em class="fa-2x mr-2 fas fa-box-open"></em></div>
            <div class="col-8 py-3 bg-primary rounded-right">
                <div class="h2 mt-0">{{ "Add"|trans}}</div>
                <div class="text-uppercase">{{ "Percles"|trans}}</div>
            </div>
        </div>
    </a>
</div>
<div class="col-xl-2  col-md-12">

</div>
<div class="col-xl-6 col-lg-12 col-md-12">
    <!-- START card-->
    <div class="card col-12 align-items-center align-items-stretch border-0">

        <h4 class="mt-8">{{ "Track the departure"| trans }}</h4>

        {% if page_id is defined
            and
            page_id is not empty
            and
            page_id in ["post_find"] %}
        <div action="{{ path("post_find") }}" method="post">
            {% else %}
            <form action="{{ path("post_find") }}" method="post" target="_blank">
                {% endif %}
                <div class="form-group">
                    <div class="input-group with-focus ">
                        <input class="form-control border-right-0 search-track-input number_only" name="tracnum"
                               value="{% if trNum is defined %} {{ trNum }}{% endif %}"
                               required="required"
                        />
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-success search-track-btn">{{ "Track down"|trans }}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

    {#
            <div class="col-xl-6"></div>
            <div class="col-xl-6">
                <h4>{{ "Track the departure"| trans }}</h4>
                {% if page_id is defined
                    and
                    page_id is not empty
                    and
                    page_id in ["post_find"] %}
                <div action="{{ path("post_find") }}" method="post">
                    {% else %}
                    <form action="{{ path("post_find") }}" method="post" target="_blank">
                        {% endif %}
                        <div class="form-group">
                            <div class="input-group with-focus ">
                                <input class="form-control border-right-0" name="tracnum"
                                       value="{% if trNum is defined %} {{ trNum }}{% endif %}"
                                       required="required"
                                />
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-outline-success">{{ "Track down"|trans }}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    #}
    <div class="col-12">
        <div class="row">
            <div class="col-12">

                <!-- START card-->
                <div class="card card-default">
                    <div class="card-header">
                        {% if page_title == 'Send Parcels List' %}
                        {% else %}
                            {#<a  href="{{ path("post_parcels_create") }}" class="float-left badge badge-primary">{{ "Add order" | trans }}</a>#}
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <!-- START table-responsive-->
                        {% if totalItemCount %}
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover parcels-table">
                                    <thead>
                                    <tr class="text-center">
                                        <th  scope="col">{{ "Create Date" | trans }}</th>
                                        {% if isSend is defined and isSend == 1 %}
                                            <th scope="col">{{ "trackingNumber" | trans }}</th>
                                        {% else %}
                                            <th scope="col">{{ "NovaPochta track number" | trans }}</th>
                                        {% endif %}
                                        <th scope="col">{{ "OrderType" | trans }}</th>
                                        <th scope="col">{{ "sendDetailWeight" | trans }}</th>
                                        <th scope="col">{{ "volumeWeigth" | trans }}</th>
                                        <th scope="col" class="text-dark">{{ "shipgCost" | trans }}</th>
                                        <th scope="col">{{ "declareValue" | trans }}</th>
                                        <th scope="col">{{ "Adress" | trans }}</th>
                                        {% if isSend is not defined %}
                                            <th scope="col">{{ "Status" | trans }}</th>
                                            <th colspan="2" scope="col">{{ "Action" | trans }}</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if items is defined and items is iterable %}
                                        {% for item in items %}
                                            <tr class="text-center">
                                                <td>{{ item.getCreatedAtStr }}</td>
                                                {% if isSend is defined and isSend == 1 %}
                                                    <td>
                                                        <a href="{{ url("post_find",{"tracnum":item.trNum}) }}" target="_blank">
                                                            {{ item.trNum }}
                                                        </a>
                                                    </td>
                                                {% else %}
                                                    <td>{{ item.trackingNumber }}</td>
                                                {% endif %}
                                                <td>
                                                    {% if item.orderType is not empty and item.orderType.name is defined and item.orderType.name is not empty   %}
                                                        {{ item.orderType.name }}
                                                    {% endif %}
                                                </td>
                                                <td>{{ item.sendDetailWeight }}</td>
                                                <td>{{ item.volumeWeigth }}</td>
                                                <td class="font-weight-bold text-dark">{{ item.shippingCosts }}</td>
                                                <td>{{ item.declareValue }}</td>
                                                <td>

                                                    {% if item.addresses.fullAddress is defined and item.addresses.fullAddress is not null %}
                                                        {{ item.addresses.fullAddress }}
                                                    {% endif %}
                                                </td>
                                                {% if isSend is not defined %}
                                                    <td>
                                                        {% if item.orderStatus is  defined and item.orderStatus is not empty and  item.orderStatus.status is  defined  and  item.orderStatus.status is not empty %}
                                                            {{  item.orderStatus.status | trans }}
                                                        {% endif %}
                                                    </td>
                                                {% endif %}
                                                {% if page_title != 'Send Parcels List' %}
                                                    <td>
                                                        {% if item.orderStatus is empty or (item.orderStatus.status is  defined  and  item.orderStatus.status is not empty and item.orderStatus.status == 'new')%}
                                                            <a  href="{{ path("post_parcels_edit",{"id":item.id}) }}" class="btn btn-outline-success btn-edit-parcel ">{{ "Edit Order" | trans }}</a>
                                                        {% endif %}
                                                        {% if item.orderStatus is empty or (item.orderStatus.status is  defined  and  item.orderStatus.status is not empty and (item.orderStatus.status == 'new' or item.orderStatus.status == 'getnewinvoice'))%}
                                                            {% if item.invoices is not empty %}
                                                                {% for invoice in item.invoices if invoice.isPaid == false %}

                                                                    {% if invoice.price > 0 %}
                                                                        {% set liqPayForm=liqpay.LiqPayForm(invoice.price,'Pay by ExpressPoshta.com',"EXPRESSINVOICE_"~invoice.id) %}
                                                                        <div class="liq-pay-button">
                                                                            {{ liqPayForm | raw }}
                                                                        </div>
                                                                        {#
                                                                        {% set authorizeToken=authorizeservice.getTokenToForm(invoice.price,invoice.id) %}
                                                                        <div class="authorize-button">
                                                                            <input type="text" id="inputtoken{{invoice.id }}" value="{{ authorizeToken }}"/>
                                                                        </div>
                                                                        #}
                                                                        {% if invoice.comment is not empty %}
                                                                            <p>{{ invoice.comment }}</p>
                                                                        {% endif %}
                                                                        {% if item.orderStatus is not  empty and  item.orderStatus.status == 'getnewinvoice' %}
                                                                            <br>
                                                                            <p class="badge badge-success">{{ 'Sum Paid' | trans }}: {{ item.shippingCosts - invoice.price}} &#8372;</p>
                                                                            <p class="badge badge-danger">{{ 'Need Paid' | trans}}: {{ invoice.price }} &#8372;</p>
                                                                        {% endif %}
                                                                        {#
                                                                        <input type="button" id="" class="payment-btn btn btn-outline-success liq-pay-button-change" value="{{ "Pay" | trans }}" />
                                                                        #}

                                                                        {% if invoice.tryPaid == false %}

                                                                                <input
                                                                            type="button"
                                                                            id=""
                                                                            data-invoice ="{{invoice.id }}"
                                                                            data-shipping_problem = "{% if invoice.shippingPay == true and not invoice.orderId is empty and invoice.orderId.orderShippingCosts is empty %}Y{% else %}N{% endif %}"
                                                                            class="btn btn-outline-success pay-button-change"
                                                                                       value="{% if invoice.shippingPay == false  %}{{ "Pay Products" | trans }} {% else %} {{ "Pay Shipment" | trans }} {% endif %} "/>

                                                                        {% else %}
                                                                                {{ 'text paid' | trans }}
                                                                        {% endif %}

                                                                    {% endif %}

                                                                {% endfor %}
                                                            {% endif %}

                                                        {% elseif page_title != 'Send Parcels List' %}
                                                            <input type="button" id="" class="payment-btn btn btn-outline-success liq-pay-button-change disabled  btn-edit-parcel" value="{{ "Paid" | trans }}" />
                                                            <a target="_blank" href="{{ url("generate_pdf_label",{"id":item.id}) }}" class="download-btn btn btn-outline-success " >{{ "Download Label" | trans }}</a>
                                                        {% endif %}
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}

                                    {% else %}
                                        <tr>
                                            <td colspan="3">{{ "No parcel" | trans}}</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div><!-- END table-responsive-->
                        {% else %}
                            {{ "No Parcels" | trans }}
                        {% endif %}
                    </div>
                    <div class="col-md-12">
                        {{ knp_pagination_render(items) }}
                    </div>
                </div>
                <!-- END card-->
            </div>
        </div>
    </div>
</div>
    {% if items is defined and items is iterable %}
    {% include 'cabinet/parcels/pay_button.html.twig' %}
    {% include 'authorize_dot_net/popupOuter.html.twig' %}
    {% endif %}
    {% endblock %}
    {% block javascripts %}{% endblock %}
