<script src="https://www.paypal.com/sdk/js?client-id=AcEIugKFCqYJnKXcBHY5wJL0Vc_iO8gMyczC4ywdo4Doll52eQHoSNAin_v-_zrLxmUQKe94OciOR5W7&disable-funding=credit,card">
</script>

<!-- Modal -->
<div class="modal" id="payModal" tabindex="1" role="dialog" aria-labelledby="payModalLabel" aria-hidden="true" data-backdrop="false" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="payModalLabel">{{ "Pay modal"|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <p>{{ "Pay text"|trans }}</p>
                <p style="color:red;display:none" class="shipping_problem_text">{{ "shipping_problem_text"|trans }}</p>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="invoice-id">
                <button type="button" id="" class="btn btn-outline-success authorize-button-change" />{{ "Pay authorize" | trans }}</button>
                <button type="button" id="pay_from_balance" class="btn btn-outline-info" />{{ "Pay from Balance" | trans }}</button>
                <div id="paypal-button-container"></div>
            </div>
        </div>
    </div>
</div>



<!-- Add the checkout buttons, set up the order and approve the order -->
<script>

    paypal.Buttons({
        createOrder: function() {
            try {
                let formData = new FormData();
                let invoiceid = $("#invoice-id").val();
                formData.append('elType', "payInvoice");
                formData.append('amount', 0);
                formData.append('elId', invoiceid);
                formData.append('userId',"{{ app.user.id }}");
                return fetch('{{ path("ajax_paypal_create_order") }}', {
                    method: 'post',
                    //  headers: {
                    //    'content-type': 'application/json'
                    //   },
                    body: formData
                }).then(function(res) {
                    console.log(res);
                    return res.json();
                }).then(function(data) {
                    console.log(data);
                    if (data.error) {
                        throw new Error(data.error);
                    }
                    $('#payModal').modal('hide');
                    return data.id;
                })
                    .catch(err => console.log(err))
                    ;
            } catch (error) {
                console.log('Возникла проблема с вашим fetch запросом: ', error.message);
            }
        },
        onApprove: function(data, actions) {

            return actions.order.capture().then(function(details) {
                let formData = new FormData();
                formData.append('orderId', details.id);
                var json_arr = JSON.stringify(details);
                // console.log(json_arr);
                formData.append('json_arr', json_arr);
                return fetch('{{ path("ajax_paypal_save_order") }}', {
                    method: 'post',
                    //  headers: {
                    //    'content-type': 'application/json'
                    //   },
                    body: formData
                }).then(function(res) {
                    //console.log(res);
                    alert("{{ 'Transaction completed!' | trans }}");
                    $('#payModal').modal('hide');
                    document.location.reload();
                })
                    .catch(err => console.log(err))

            });

        }
    }).render('#paypal-button-container'); // Display payment options on your web page
</script>
    <style>
        .text-center.bg-danger{
            padding-top: 15px;
            padding-bottom: 15px;
        }
    </style>
        <script>

            $(document).ready(function() {

                $('body').on('click','.authorize-button-change', function () {
                    let invoiceid = $("#invoice-id").val();
                   AuthorizeNetPopup.openPopup(invoiceid);
                   $('#payModal').modal('hide');
                   return true;
               })

                $('body').on('click','#pay_from_balance', function () {
                    // let formData = new FormData();
                    //
                    // formData.append('invoiceid', $("#invoice-id").val());
                    var datastr="invoiceid="+$("#invoice-id").val();
                        $.ajax({
                            url: '{{ path("ajax_pay_from_balance") }}',
                            type: 'POST',
                            data: datastr,
                            success: function(res) {
                                alert("{{ 'Pay from balance completed!' | trans }}");
                                 window.location.reload();
                            },
                            error: function(error) {
                                alert("{{ 'no money' | trans }}");
                                console.log(error);
                            }
                        })

                   return true;
               })

                $('body').on('click','.pay-button-change', function () {
                    let invoiceid = $(this).data("invoice");
                    $("#invoice-id").val(invoiceid);

                    $('#payModal').modal('show');
                    let shippingProblem = $(this).data("shipping_problem");
                    if (shippingProblem == "Y") $('.shipping_problem_text').show();
                    else $('.shipping_problem_text').hide();
                    return true;
                })

                $('#payModal').on('show.bs.modal', function () {
                    $('#payModal').css("margin-top", $(window).height() / 2 - $('.modal-content').height() / 2);
                });
            });
        </script>
