{% block OrderProductsFormType_row %}

    <div class="col-md-12 ">
        {#
            {{ form_label(form) }}
        #}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block form_label %}
    <label{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}>
         {{ label }} {{ formhelpsservice.getTextByCode(name)| unescape | raw  }}
    </label>
{% endblock  %}

{% block OrderProductsFormType_widget %}
        <!-- <div class="row align-items-end">
            <div class="col-3">
                
            </div>
            <div class="col-3">
                
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-2"></div>
        </div> -->
    <div class="row">
        <div class="row align-items-center" style="width: 100%; min-width: 260px;">
            <div class="col-4 col-md-4">
                <div class="form-group">
                    {{ form_label(form.descEn,"productLink"|trans, {"label_attr": {"class": "text-muted"}}) }}
                </div>  
                <div class="form-group">
                    <div class="input-group with-focus ">
                        {% if form.descEn.vars.errors|length %}
                            {{ form_widget(form.descEn, {"attr": {"class": "is-invalid form-control url-for-ajax"}}) }}
                        {% else %}
                            {{ form_widget(form.descEn, {"attr": {"class": "textarea-desc url-for-ajax"}}) }}
                        {% endif %}
                        <div class="invalid-feedback">{{ form_errors(form.descEn) }}</div>
                    </div>
                    <div class="url-ajax-load-info" data-id=" ">
                        <div class="row">
                            <div class="col-md-4 image-og" > </div>
                            <div class="col-md-8"><p class="title-og"></p><p class="description-og"></p></div>
                        </div>
                    </div>
                </div>
            </div>
            {#<div class="col-6 col-md-3">#}
                {#<div class="form-group">#}
                    {#{{ form_label(form.descUa,"descUa"|trans, {#}
                        {#"label_attr": {"class": "text-muted"}#}
                    {#}) }}#}
                {#</div>#}
                {#<div class="form-group">#}
                {#<div class="input-group with-focus ">#}
                    {#{% if form.descUa.vars.errors|length %}#}
                        {#{{ form_widget(form.descUa, {"attr": {"class": "is-invalid form-control"}}) }}#}
                    {#{% else %}#}
                        {#{{ form_widget(form.descUa, {"attr": {"class": "textarea-desc"}}) }}#}
                    {#{% endif %}#}
                    {#<div class="invalid-feedback">{{ form_errors(form.descUa) }}</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
            <div class="col-4 col-md-2">
                <div class="form-group">
                    {{ form_label(form.priceGrn,"price"|trans, {
                        "label_attr": {"class": "text-muted"}
                    }) }}
                </div>
                <div class="form-group">
                    <div class="input-group with-focus ">
                        {% if form.priceGrn.vars.errors|length %}
                            {{ form_widget(form.priceGrn, {"attr": {"class": "is-invalid form-control"}}) }}
                        {% else %}
                            {{ form_widget(form.priceGrn) }}
                        {% endif %}
                        <div class="invalid-feedback">{{ form_errors(form.priceGrn) }}</div>
                    </div>
                </div>
            </div>

            <div class="col-4 col-md-2">
                <div class="form-group">
                    {{ form_label(form.price,"priceUsd"|trans, {
                        "label_attr": {"class": "text-muted"}
                    }) }}
                </div>
                <div class="form-group">
                    <div class="input-group with-focus ">
                        {% if form.price.vars.errors|length %}
                            {{ form_widget(form.price, {"attr": {"class": "is-invalid form-control"}}) }}
                        {% else %}
                            {{ form_widget(form.price) }}
                        {% endif %}
                        <div class="invalid-feedback">{{ form_errors(form.price) }}</div>
                    </div>
                </div>
            </div>

            <div class="col-2 col-md-1">
                <div class="form-group">
                    {{ form_label(form.count,"count"|trans, {
                        "label_attr": {"class": "text-muted"}
                    }) }}
                </div>
                <div class="form-group">
                    <div class="input-group with-focus ">
                        {% if form.count.vars.errors|length %}
                            {{ form_widget(form.count, {"attr": {"class": "is-invalid form-control"}}) }}
                        {% else %}
                            {{ form_widget(form.count) }}
                        {% endif %}
                        <div class="invalid-feedback">{{ form_errors(form.count) }}</div>
                    </div>
                </div>
            </div>
            <div class="col-2 col-md-1">
                <div class="form-group">
                    {{ form_label(form.totalSumm,"Total"|trans, {
                        "label_attr": {"class": "text-muted"}
                    }) }}
                </div>
                <div class="form-group">
                    <div class="input-group with-focus ">
                        {% if form.count.vars.errors|length %}
                            {{ form_widget(form.totalSumm, {"attr": {"class": "is-invalid form-control"}}) }}
                        {% else %}
                            {{ form_widget(form.totalSumm) }}
                        {% endif %}
                        <div class="invalid-feedback">{{ form_errors(form.totalSumm) }}</div>
                    </div>
                </div>
            </div>
            <div class="col-4 col-md-2">
                    <div class="form-group" style="opacity: 0;">
                        <label class="text-muted" for="order_form_products_0_count">
                            удалить
                        </label>
                    </div>
                    <div class="form-group">
                        <a href="#" class="collection-remove btn btn-outline-danger">{{ "Remove product" | trans }}</a>
                        <a href="#" class="collection-add btn">{{ "Add product" | trans }}</a>
                    </div>
                </div>
        </div>
    </div>
        {{ form_widget(form) }}
{% endblock %}