<!DOCTYPE html>
<html lang="en">
    <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="Bootstrap Admin App">
   <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
   <link rel="icon" type="image/x-icon" href="/img/favicon-express.ico">
   <title>{% block title %} {{"Sklad Express"|trans }} {% endblock %}</title>
        <link rel="stylesheet" href="{{ asset("sklad-express/vendor/@fortawesome/fontawesome-free/css/brands.css") }}"/>
        <link rel="stylesheet" href="{{ asset("sklad-express/vendor/@fortawesome/fontawesome-free/css/regular.css") }}"/>
        <link rel="stylesheet" href="{{ asset("sklad-express/vendor/@fortawesome/fontawesome-free/css/solid.css") }}"/>
        <link rel="stylesheet" href="{{ asset("sklad-express/vendor/@fortawesome/fontawesome-free/css/fontawesome.css") }}"/>
        <link rel="stylesheet" href="{{ asset("sklad-express/vendor/simple-line-icons/css/simple-line-icons.css") }}"/>
        <link rel="stylesheet" href="{{ asset("sklad-express/vendor/animate.css/animate.css") }}"/>
        <link rel="stylesheet" href="{{ asset("sklad-express/vendor/flag-icon/css/flag-icon.css") }}"/>
        <link rel="stylesheet" href="{{ asset("sklad-express/vendor/whirl/dist/whirl.css") }}"/>
        <link rel="stylesheet" href="{{ asset("sklad-express/vendor/weather-icons/css/weather-icons.css") }}"/>
        <link rel="stylesheet" href="{{ asset("sklad-express/css/bootstrap.css") }}" id="bscss" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="{{ asset("sklad-express/css/app.css") }}?ver=1" id="maincss" />
        <link rel="stylesheet" href="{{ asset("sklad-express/css/custom.css") }}?ver={{ date().timestamp }}"/>

        {% block stylesheets %}{% endblock %}
        <script src="{{ asset("sklad-express/vendor/jquery/dist/jquery.js") }}"></script>
    </head>
    <body>
        <div class="wrapper">

            <div style="display: none;">
                <svg>
                    <symbol id="ls-help-s" viewBox="0 0 24 24">
                        <defs>
                            <circle id="a-ffff" cx="12" cy="12" r="8"></circle>
                        </defs>
                        <g fill="none" fill-rule="evenodd">
                            <use fill="#FFF" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#a-ffff"></use>
                            <circle cx="12" cy="12" r="7.5" stroke="#EEE"></circle>
                            <path fill="#00A5FF" d="M11.462 13.632v-.361c0-.313.067-.585.2-.816.134-.231.378-.477.733-.737.342-.244.567-.443.676-.596a.863.863 0 0 0 .164-.513.555.555 0 0 0-.235-.483c-.156-.11-.374-.166-.654-.166-.488 0-1.045.16-1.67.478l-.532-1.069a4.652 4.652 0 0 1 2.31-.61c.67 0 1.203.16 1.599.483.395.322.593.752.593 1.29 0 .357-.081.667-.244.927-.163.26-.472.553-.928.879-.312.231-.51.407-.593.527a.819.819 0 0 0-.125.474v.293h-1.294zm-.156 1.67c0-.274.073-.48.22-.62.146-.14.36-.21.64-.21.27 0 .479.071.627.215.148.143.222.348.222.615 0 .257-.075.46-.224.608-.15.148-.359.222-.625.222-.274 0-.485-.073-.635-.217-.15-.145-.225-.35-.225-.613z"></path>
                        </g>
                    </symbol>
                </svg>
            </div>

            {% block body %}{% endblock %}
        </div>
        {% block modal %}{% endblock %}
        <script src="{{ asset("sklad-express/vendor/modernizr/modernizr.custom.js") }}"></script>
        <script src="{{ asset("sklad-express/vendor/js-storage/js.storage.js") }}"></script>
        <script src="{{ asset("sklad-express/vendor/i18next/i18next.js") }}"></script>
 {#
        <script src="{{ asset("sklad-express/vendor/i18next-xhr-backend/i18nextXHRBackend.js") }}"></script>
#}

        <script src="{{ asset("sklad-express/vendor/popper.js/dist/umd/popper.js") }}"></script>
        <script src="{{ asset("sklad-express/vendor/bootstrap/dist/js/bootstrap.js") }}"></script>
        <script src="{{ asset("sklad-express/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js?ver=1.223344") }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
        <script src="{{ asset("sklad-express/vendor/parsleyjs/dist/parsley.js?ver=1.223344") }}"></script>
        {% if app.request.locale == 'ru' %}
            <script src="{{ asset("sklad-express/js/parsleyi18n/ru.js") }}"></script>
        {% else %}
            <script src="{{ asset("sklad-express/js/parsleyi18n/ua.js") }}"></script>
        {% endif %}
        {#
        <script src="{{ asset("sklad-express/js/app.js") }}"></script>
        #}
        <script src="{{ asset("sklad-express/js/custom.js") }}?ver={{ date().timestamp }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>