{% extends "sonata_layout.html.twig" %}
 {% block logo %}
     {% apply spaceless %}
         <a class="logo" href="{{ path('sonata_admin_dashboard') }}">
             {% if 'single_image' == sonata_admin.adminPool.getOption('title_mode') or 'both' == sonata_admin.adminPool.getOption('title_mode') %}
{#                 <img src="{{ asset(sonata_admin.adminPool.titlelogo) }}" alt="{{ sonata_admin.adminPool.title }}">#}
             {% endif %}
             {% if 'single_text' == sonata_admin.adminPool.getOption('title_mode') or 'both' == sonata_admin.adminPool.getOption('title_mode') %}
                 <span>{{ sonata_admin.adminPool.title }}</span>
             {% endif %}
         </a>
     {% endapply %}
 {% endblock %}
{% block sonata_top_nav_menu %}
    {% if app.user and is_granted("ROLE_SONATA_ADMIN") %}
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                {% block sonata_top_nav_menu_add_block %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-plus-square fa-fw" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                        {% include sonata_admin.adminPool.getTemplate("add_block") %}
                    </li>
                {% endblock %}
                {% block sonata_top_nav_menu_user_block %}
                    <li class="dropdown user-menu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li> <a href="{{ path("admin_logout") }}"> Logout </a></li>
                        </ul>
                    </li>
                {% endblock %}
            </ul>
        </div>
    {% endif %}
    <style>
        .logo span {
            display: inline-block;
            line-height: 1;
            vertical-align: middle;
            width: 200px;
            font-size: 16px;
        }
    </style>
{% endblock %}
 {% block side_bar_nav %}
     {{ knp_menu_render('sonata_admin_sidebar', {template: get_global_template('knp_menu_template')}) }}
 {% endblock side_bar_nav %}
