{% extends "cabinet/cabinet_layout.html.twig" %}
    {% set title= "Peyments" %}
    {% if page_title is defined and page_title is not empty %}
        {% set title=page_title %}
    {% endif %}
{% block title %}{{ title|trans }}{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="col-md-6" style="float: left;">
        {% include 'cabinet/payment/pay_authorize_form.html.twig' %}
    </div>
    <div class="col-md-6" style="float: left;">
        {% include 'cabinet/payment/pay_paypal_form.html.twig' %}
    </div>
</div>
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr class="text-center">
                <th>{{ 'Date'| trans }}</th>
                <th>{{ 'Sum'| trans }}</th>
                {#<th>{{ 'Type'| trans }}</th>#}
                <th>{{ 'Text'| trans }}</th>
                <th>{{ 'User Balance'| trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% if items %}
                {% for item in items %}
                    <tr class="text-center">
                        <td>{{ item.createAtStr }}</td>
                        <td>{{ item.showBalance }}</td>
                        <td>{{ item.text | trans }}</td>
                        <td>{{ item.userBalance }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="text-center">
                    <td>{{ "No order" | trans }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        {{ knp_pagination_render(items) }}
    </div>
{% endblock %}
 {% block javascripts %}{% endblock %}
