
    {% set balance = 0  %}


{% set procent = 4.16 %}
{% set addition = 0.3 %}
{% set amount = 0 %}




<div  data-type="authorize">

    <div class="jumbotron text-center">
          <h4>{{ "Pay by Authorize.net"|trans}}</h4>
{#        <div class="row">#}
{#            <div class="col-md-2"></div>#}
{#        <div class="col-md-8">#}
{#            <img class="img-responsive" src="/img/visa-and-mastercard-logos.png" />#}
{#        </div>#}
{#            <div class="col-md-2"></div>#}
{#        </div>#}
        <br>
        <p>{{ "Without Credit Card Fees"|trans}}: $ <input type="text" id="sumAuthTmp"  value="{{ balance }}"/></p>
        <b >{{ "With Credit Card Fees"|trans}} $<span id="amount-sumAuth">{{ balance|number_format(2, '.', '') }}</span></b>
        <input type="hidden" name="sumAuth" id="sumAuth" value="0"/>
        <div id="payFormAuth" class="notvisibliti"></div>
        <button type="button" id="auth-button" class="btn btn-primary">
            <span>{{ "pay Now"|trans}}</span>
            {#            <img src="//static.liqpay.ua/buttons/p1ru.radius.png" />#}
        </button>
    </div>
    <div class="popup-wrap">
        <div class="popup-succ ">
            <a href="#">X</a>
            <h2 id="formAdnPayNowTitle" style="display: block !important"></h2>
        </div>
    </div>
</div>
    <style>
        .text-center.jumbotron{
            padding-top: 15px;
            padding-bottom: 15px;
            height: 200px;

        }
    </style>
        <script>

            $(document).ready(function() {
                var procent=parseFloat({{ procent }});
                var addition = parseFloat({{ addition }});
                $('body').on('click','#auth-button', function () {
                    var datasum=(isNaN($('#sumAuth').val()))?0:parseFloat($('#sumAuth').val());
                    var user={{ app.user.id }};
                    var formData1 = new FormData();

                    formData1.append("amount", datasum);
                    formData1.append("token", "{{ csrf_token('') }}");

                    $.ajax({
                        url: "{{ url('get_authorize_payment_form') }}",
                        type: 'POST',
                        data: formData1,
                        processData: false,
                        //dataType: 'json',
                        contentType: false,
                        success: function (data) {
                            
                            console.log(data);
                            
                            if (data.status === 'success'){
                                $('#payFormAuth')
                                    .removeClass('error')
                                    .addClass('notvisibliti')
                                    .html(data.data);
                                
                                $('#btnOpenAuthorizeNetPopup').click();
                            }else{
                                $('#payFormAuth')
                                    .removeClass('notvisibliti')
                                    .addClass('error')
                                    .html("{{ "Errors Authorize"| trans }}");
                            }
                        },
                        error: function (data) {
                            console.log(data);
                        }
                    });
                });

                $('body').on('keyup','#sumAuthTmp', function () {
                    this.value = this.value.replace(/^\.|[^\d\.]|\.(?=.*\.)|^0+(?=\d)/g, '');
                    var datasum=(isNaN(this.value))?0:parseFloat(this.value);
                    console.log(this.value);
                    datasum = datasum + addition ;
                        var resSum= datasum ? (datasum + (datasum * procent) / 100 ) : 0.;

                    $('#sumAuth').val((isNaN(resSum))?0:parseFloat(resSum).toFixed(2));
                    $('#amount-sumAuth').text((isNaN(resSum))?0:parseFloat(resSum).toFixed(2));
                })

                $(document).ready(function () {
                    var summ=0;
                    summ=$("#sumAuthTmp").val();
                    console.log(summ);
                    summ = summ.replace(/^\.|[^\d\.]|\.(?=.*\.)|^0+(?=\d)/g, '');
                    var datasum=(isNaN(summ))?0:parseFloat(summ);
                    console.log(summ);
                    var resSum = datasum ? (datasum + (datasum * procent) / 100 + addition) : 0.;

                    $('#sumAuth').val((isNaN(resSum))?0:parseFloat(resSum).toFixed(2));
                    $('#amount-sumAuth').text((isNaN(resSum))?0:parseFloat(resSum).toFixed(2));
                })

                $('.popup-succ a').click(function(e){
                    e.preventDefault();
                    $('.popup-wrap.open').removeClass('open');
                });

            });
        </script>
    <style>
        #payFormAuth.notvisibliti{
            visibility: hidden;
            height: 0px;
        }

        .popup-wrap.open{
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.36);
            top: 0;
            left: 0;
            z-index: 100;
        }

        .popup-wrap.open .popup-succ {
            position: fixed;
            width: 350px;
            height: 200px;
            background: white;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
        }
        .popup-wrap a{
            display: none;
        }
        .popup-wrap.open .popup-succ a{
            display: block;
            position: absolute;
            top: -41px;
            right: -34px;
            font-size: 20px;
            color: black;
            border-radius: 50%;
            background: white;
            padding: 4px 13px;
        }
    </style>
{# {% endif %} #}