<script src="https://www.paypal.com/sdk/js?client-id=AcEIugKFCqYJnKXcBHY5wJL0Vc_iO8gMyczC4ywdo4Doll52eQHoSNAin_v-_zrLxmUQKe94OciOR5W7&disable-funding=credit,card">
</script>


    {% set balance = 0 %}
    {% set procent = 4.16 %}
    {% set amount = 0 %}

<div class="" data-type="paypal" style="z-index: 1;">
    <div class="jumbotron text-center" >
          <h4>{{ "PayPaltext"|trans}}</h4>
        <br>
        <p>{{ "For Sum"|trans}}: $ <input type="text" id="sum"  value="{{ balance }}"/></p>
            {#  <form id="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank"> #}
                  <b >{{ "paypal Comission"|trans}} $<span id="amount-summ">{{ amount|number_format(2, '.', '') }}</span></b>
                  <input type="hidden" id="amount" name="amount" value="{{ amount|number_format(2, '.', '') }}"/>

                  <div id="paypal-button-container"></div>
           {# </form> #}
    </div>
</div>





<!-- Add the checkout buttons, set up the order and approve the order -->
<script>
    paypal.Buttons({
        createOrder: function() {
            try {
                let formData = new FormData();
                let amount =  $('#amount').val();
                formData.append('elType', "paypalAddToBalance");
                formData.append('amount', amount);
                formData.append('elId', "{{ app.user.id}}");
                formData.append('userId',"{{ app.user.id }}");
                return fetch('{{ path("ajax_paypal_create_order") }}', {
                    method: 'post',
                    //  headers: {
                    //    'content-type': 'application/json'
                    //   },
                    body: formData
                }).then(function(res) {
                    //console.log(res);
                    return res.json();
                }).then(function(data) {
                    // console.log(data);
                    if (data.error) {
                        throw new Error(data.error);
                    }

                    return data.id;
                })
                    .catch(err => console.log(err))
                    ;
            } catch (error) {
                console.log('Возникла проблема с вашим fetch запросом: ', error.message);
            }
        },
        onApprove: function(data, actions) {

            return actions.order.capture().then(function(details) {

                let formData = new FormData();
                formData.append('orderId', details.id);
                var json_arr = JSON.stringify(details);
                console.log(json_arr);
                formData.append('json_arr', json_arr);
                return fetch('{{ path("ajax_paypal_save_order") }}', {
                    method: 'post',
                    //  headers: {
                    //    'content-type': 'application/json'
                    //   },
                    body: formData
                }).then(function(res) {
                    //console.log(res);
                    alert("{{ 'Transaction completed!' | trans }}");
                    document.location.reload();
                })
                    .catch(err => console.log(err))

            });
        }
    }).render('#paypal-button-container'); // Display payment options on your web page
</script>
    <style>
        .text-center.bg-danger{
            padding-top: 15px;
            padding-bottom: 15px;
        }
    </style>
        <script>

            $(document).ready(function() {
                var procent=parseFloat({{ procent }});
                $('body').on('keyup','#sum', function () {
                    this.value = this.value.replace(/^\.|[^\d\.]|\.(?=.*\.)|^0+(?=\d)/g, '');
                    var datasum=(isNaN(this.value))?0:parseFloat(this.value);
                    console.log(this.value);
                    datasum = datasum +0.3;
                        var resSum=(datasum+((datasum*procent)/100));

                    $('#amount').val((isNaN(resSum))?0:parseFloat(resSum).toFixed(2));
                    $('#amount-summ').text((isNaN(resSum))?0:parseFloat(resSum).toFixed(2));
                                    })

            });
        </script>
