{% extends "cabinet/cabinet_layout.html.twig" %}
    {% set title= "Peyments" %}
    {% if page_title is defined and page_title is not empty %}
        {% set title=page_title %}
    {% endif %}
{% block title %}{{title|trans }}{% endblock %}

{% block content %}
                        <div class="col-xl-12">
                            <!-- START card-->
                            <div class="card card-default">
                                <div class="card-header">
                                </div>
                                <div class="card-body">
                                    <!-- START table-responsive-->
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th>{{ 'Id'| trans }}</th>
                                                <th>{{ 'DataPay'| trans }}</th>
                                                <th>{{ 'Nomer scheta'| trans }}</th>
                                                <th>{{ 'Sposob oplaty'| trans }}</th>
                                                <th>{{ 'Sum'| trans }}</th>
                                                <th>{{ 'Status'| trans }}</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if items is defined and items is iterable  %}
                                                {% for item in items %}
                                                 <tr>
                                                    <td>{{ item.id }}</td>
                                                    <td>{{ item.createdAt|date('Y-m-d H:i:s') }}</td>
                                                    <td>{{ item.number }}</td>
                                                    <td>{% if item.paymentSystem == 2 %}{{ "PayPal"|trans }}{% else %}{{ "Card"|trans }}{% endif %}</td>
                                                    <td>{{ item.sum }}</td>
                                                    <td>{{ item.status | trans }}</td>
                                                 </tr>
                                                {% endfor %}

                                            {% else %}
                                            <tr>
                                                <td colspan="3">{{ 'Not pay yet'| trans }}</td>
                                            </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div><!-- END table-responsive-->
                                </div>
                                <div class="col-md-12">
                                    {{ knp_pagination_render(items) }}
                                </div>
                            </div><!-- END card-->
                        </div>

{% endblock %}
 {% block javascripts %}{% endblock %}
